.allumettes {
    display: inline-block;
}
/* J'ai mis des border coloré pour pas se perdre dans les div, à enlever plus tard */
.imgAllumette {
    float: left;
    padding: 2px;
    overflow: auto;
    border: 3px solid green;
}

.mesAllumettes {
    float: left;
    width: 300px;
    padding: 10px;
    overflow: auto;
    border: 3px solid black;
}

.allumettesIA {
    float: left;
    width: 300px;
    padding: 10px;
    overflow: auto;
    border: 3px solid red;
}