<div class="app">
  <h1>Jeu des allumettes</h1>
  <p>Plateau d'allumettes :</p>
  
  <div class="allumettes" *ngFor="let i of Arr(nbAllumettes).fill(1)">
    <img class="imgAllumette" src="./../allumette.png" height ="80" width="10" >
  </div>
  <p *ngIf="fini">Jeu terminé, {{gagnant}} gagné !</p>

  <div class="retirer">
    <label>Nombre d'allumettes à retirer :</label>
    <button (click)="retirer(1)">1</button>
    <button (click)="retirer(2)">2</button>
    <button (click)="retirer(3)">3</button>
    <button (click)="jouerIA()">Faire jouer l'IA</button>
    <p *ngIf="mauvaisJoueurIA">Vous devez jouer avant que l'IA ne joue.</p>
    <p *ngIf="mauvaisJoueurHumain">Vous ne pouvez jouer 2 fois de suite.</p>
  </div>
    
  <div class="mesAllumettes">
    <p>Vos allumettes retirées :</p>
    <div class="allumettes" *ngFor="let i of Arr(nbAllumettesHumain).fill(1)">
        <img class="imgAllumette" src="./../allumette.png" height ="80" width="10" >
      </div>
  </div>
   
  <div class="allumettesIA">
    <p>Allumettes retirées par l'IA :</p>
    <div class="allumettes" *ngFor="let i of Arr(nbAllumettesIA).fill(1)">
        <img class="imgAllumette" src="./../allumette.png" height ="80" width="10" >
      </div>
  </div>

</div>